// .label

$label-border-color: transparent !default;
$label-border-radius: 4rem !default;
$label-border-style: solid !default;
$label-border-width: 0.0625rem !default;
$label-color: null !default;
$label-font-size: 0.75rem !default;
$label-font-weight: $font-weight-normal !default;
$label-height: null !default;
$label-line-height: 1.125rem !default;
$label-padding-x: 0.5rem !default; // 4px
$label-padding-y: 0 !default;
$label-spacer-x: 0.25rem !default; // 4px
$label-spacer-y: 0.125rem !default; // 2px
$label-text-transform: c-unset !default;

// .label .sticker

$label-sticker-border-radius: 100px !default;
$label-sticker-size: 0.875em !default;

// .label[href], .label[type], .label[tabindex='0']

$label-anchor-text-decoration: none !default;

$label-anchor-hover-text-decoration: none !default;

// .label a, .label .btn-unstyled

$label-link-color: inherit !default;
$label-link-text-decoration: none !default;

$label-link-hover-color: inherit !default;
$label-link-hover-text-decoration: none !default;

$label-base: () !default;

$label: () !default;
$label: map-deep-merge(
	(
		border-color: $label-border-color,
		border-radius: clay-enable-rounded($label-border-radius),
		border-style: $label-border-style,
		border-width: $label-border-width,
		color: $label-color,
		display: inline-flex,
		font-size: $label-font-size,
		font-weight: $label-font-weight,
		height: $label-height,
		line-height: $label-line-height,
		margin-bottom: $label-spacer-y,
		margin-right: $label-spacer-x,
		margin-top: $label-spacer-y,
		max-width: 100%,
		outline: 0,
		padding-bottom: $label-padding-y,
		padding-left: $label-padding-x,
		padding-right: $label-padding-x,
		padding-top: $label-padding-y,
		text-transform: $label-text-transform,
		transition: box-shadow 0.15s ease-in-out,
		white-space: inherit,
		word-wrap: break-word,
		disabled: (
			box-shadow: none,
		),
		href: (
			cursor: $link-cursor,
			text-decoration: $label-anchor-text-decoration,
			hover: (
				text-decoration: $label-anchor-hover-text-decoration,
			),
			focus: (
				border-color: $cds-focus,
				box-shadow: $component-focus-inset-box-shadow-2,
				text-decoration: $label-anchor-hover-text-decoration,
			),
			disabled: (
				cursor: $disabled-cursor,
				focus: (
					box-shadow: none,
				),
				active: (
					pointer-events: none,
				),
			),
		),
		link: (
			color: $label-link-color,
			display: inline-block,
			text-decoration: $label-link-text-decoration,
			hover: (
				color: $label-link-hover-color,
				text-decoration: $label-link-hover-text-decoration,
			),
			focus: (
				box-shadow: $component-focus-inset-box-shadow,
				color: $label-link-hover-color,
				text-decoration: $label-link-hover-text-decoration,
			),
		),
		c-inner: (
			margin-bottom: math-sign($label-padding-y),
			margin-left: math-sign($label-padding-x),
			margin-right: math-sign($label-padding-x),
			margin-top: math-sign($label-padding-y),
			max-width: none,
		),
		sticker: (
			border-radius: $label-sticker-border-radius,
			height: $label-sticker-size,
			line-height: $label-sticker-size,
			width: $label-sticker-size,
		),
		sticker-overlay: (
			border-radius: $label-sticker-border-radius,
		),
	),
	$label
);
$label: map-deep-merge($label, $label-base);

// .label-dismissible

$label-dismissible-text-transform: null !default;

$label-dismissible: () !default;
$label-dismissible: map-merge(
	(
		text-transform: $label-dismissible-text-transform,
	),
	$label-dismissible
);

// .label-item .close

$label-close: () !default;
$label-close: map-deep-merge(
	(
		border-radius: 4rem,
		color: inherit,
		display: inline-flex,
		font-size: 0.75rem,
		height: 1.125rem,
		margin-bottom: math-sign($label-border-width),
		margin-right: math-sign($label-padding-x),
		margin-top: math-sign($label-border-width),
		opacity: 1,
		width: 1.125rem,
		hover: (
			color: inherit,
			opacity: 1,
		),
		focus: (
			opacity: 1,
		),
		disabled: (
			color: inherit,
			opacity: $component-disabled-opacity,
		),
	),
	$label-close
);

// .label-item

$label-item-spacer-x: 0.25rem !default;
$label-item-spacer-y: null !default;

$label-lexicon-icon-height: null !default;
$label-lexicon-icon-margin-top: 0 !default;
$label-lexicon-icon-width: null !default;

$label-item: () !default;
$label-item: map-deep-merge(
	(
		display: flex,
		flex-direction: column,
		flex-shrink: 0,
		justify-content: center,
		margin-bottom: $label-item-spacer-y,
		margin-top: $label-item-spacer-y,
		min-height: 0,
		position: relative,
		link: (
			display: inline-flex,
		),
		btn-unstyled: (
			color: inherit,
			display: inline-flex,
		),
		close: $label-close,
		lexicon-icon: (
			height: $label-lexicon-icon-height,
			margin-top: $label-lexicon-icon-margin-top,
			width: $label-lexicon-icon-width,
		),
		text-truncate-inline: (
			display: inline-flex,
		),
	),
	$label-item
);

// .label-item-expand

$label-item-expand: () !default;
$label-item-expand: map-deep-merge(
	(
		flex-grow: 1,
		flex-shrink: 1,
		min-width: 1rem,
		word-wrap: break-word,
		link: (
			flex-direction: column,
		),
	),
	$label-item-expand
);

// .label-item-before

$label-item-before: () !default;
$label-item-before: map-merge(
	(
		margin-right: $label-item-spacer-x,
	),
	$label-item-before
);

// .label-item-after

$label-item-after: () !default;
$label-item-after: map-merge(
	(
		margin-left: $label-item-spacer-x,
	),
	$label-item-after
);

// .label-lg

$label-lg: () !default;
$label-lg: map-deep-merge(
	(
		font-size: 0.75rem,
		height: auto,
		line-height: 1rem,
		padding-bottom: c-unset,
		padding-left: c-unset,
		padding-right: c-unset,
		padding-top: c-unset,
		text-transform: none,
		close: (
			font-size: 1rem,
			height: 1.5rem,
			width: 1.5rem,
		),
	),
	$label-lg
);

// Label Sizes

$label-sizes: () !default;
$label-sizes: map-deep-merge(
	(
		label-lg: $label-lg,
	),
	$label-sizes
);

// Label Variants

// @deprecated as of v2.4.1 use the Sass map `$label-primary` instead

$label-primary-color: $cds-blue-tag-text !default;

// @deprecated as of v2.4.1 use the Sass map `$label-primary` instead

$label-primary-hover-color: c-unset !default;

// @deprecated as of v2.4.1 use the Sass map `$label-primary` instead

$label-primary-bg: $cds-blue-tag-background !default;

// @deprecated as of v2.4.1 use the Sass map `$label-primary` instead

$label-primary-hover-bg: c-unset !default;

// @deprecated as of v2.4.1 use the Sass map `$label-primary` instead

$label-primary-border-color: c-unset !default;

// @deprecated as of v2.4.1 use the Sass map `$label-primary` instead

$label-primary-hover-border-color: c-unset !default;

// @deprecated as of v2.4.1 use the Sass map `$label-primary` instead

$label-primary-link-color: null !default;

// @deprecated as of v2.4.1 use the Sass map `$label-primary` instead

$label-primary-link-hover-color: c-unset !default;

$label-primary-close: () !default;
$label-primary-close: map-deep-merge(
	(
		hover: (
			background-color: $cds-blue-tag-hover,
			color: $label-primary-hover-color,
		),
		focus: (
			color: $label-primary-hover-color,
		),
	),
	$label-primary-close
);

$label-primary: () !default;
$label-primary: map-deep-merge(
	(
		background-color: $label-primary-bg,
		border-color: $label-primary-border-color,
		color: $label-primary-color,
		href: (
			color: $label-primary-color,
			hover: (
				background-color: $label-primary-hover-bg,
				border-color: $label-primary-hover-border-color,
				color: $label-primary-hover-color,
			),
			focus: (
				color: $label-primary-hover-color,
			),
			disabled: (
				background-color: $cds-layer-01,
				color: $cds-text-disabled,
			),
		),
		link: (
			color: $label-primary-link-color,
			hover: (
				color: $label-primary-link-hover-color,
			),
		),
		close: $label-primary-close,
	),
	$label-primary
);

// @deprecated as of v2.4.1 use the Sass map `$label-secondary` instead

$label-secondary-color: $cds-gray-tag-text !default;

// @deprecated as of v2.4.1 use the Sass map `$label-secondary` instead

$label-secondary-hover-color: c-unset !default;

// @deprecated as of v2.4.1 use the Sass map `$label-secondary` instead

$label-secondary-bg: $cds-gray-tag-background !default;

// @deprecated as of v2.4.1 use the Sass map `$label-secondary` instead

$label-secondary-hover-bg: null !default;

// @deprecated as of v2.4.1 use the Sass map `$label-secondary` instead

$label-secondary-border-color: c-unset !default;

// @deprecated as of v2.4.1 use the Sass map `$label-secondary` instead

$label-secondary-hover-border-color: c-unset !default;

// @deprecated as of v2.4.1 use the Sass map `$label-secondary` instead

$label-secondary-link-color: null !default;

// @deprecated as of v2.4.1 use the Sass map `$label-secondary` instead

$label-secondary-link-hover-color: c-unset !default;

$label-secondary-close: () !default;
$label-secondary-close: map-deep-merge(
	(
		hover: (
			background-color: $cds-gray-tag-hover,
			color: $label-secondary-hover-color,
		),
		focus: (
			color: $label-secondary-hover-color,
		),
	),
	$label-secondary-close
);

$label-secondary: () !default;
$label-secondary: map-deep-merge(
	(
		background-color: $label-secondary-bg,
		border-color: $label-secondary-border-color,
		color: $label-secondary-color,
		href: (
			color: $label-secondary-color,
			hover: (
				background-color: $label-secondary-hover-bg,
				border-color: $label-secondary-hover-border-color,
				color: $label-secondary-hover-color,
			),
			focus: (
				color: $label-secondary-hover-color,
			),
			disabled: (
				background-color: $cds-layer-01,
				color: $cds-text-disabled,
			),
		),
		link: (
			color: $label-secondary-link-color,
			hover: (
				color: $label-secondary-link-hover-color,
			),
		),
		close: $label-secondary-close,
	),
	$label-secondary
);

// @deprecated as of v2.4.1 use the Sass map `$label-success` instead

$label-success-color: $cds-green-tag-text !default;

// @deprecated as of v2.4.1 use the Sass map `$label-success` instead

$label-success-hover-color: c-unset !default;

// @deprecated as of v2.4.1 use the Sass map `$label-success` instead

$label-success-bg: $cds-green-tag-background !default;

// @deprecated as of v2.4.1 use the Sass map `$label-success` instead

$label-success-hover-bg: null !default;

// @deprecated as of v2.4.1 use the Sass map `$label-success` instead

$label-success-border-color: c-unset !default;

// @deprecated as of v2.4.1 use the Sass map `$label-success` instead

$label-success-hover-border-color: c-unset !default;

// @deprecated as of v2.4.1 use the Sass map `$label-success` instead

$label-success-link-color: null !default;

// @deprecated as of v2.4.1 use the Sass map `$label-success` instead

$label-success-link-hover-color: c-unset !default;

$label-success-close: () !default;
$label-success-close: map-deep-merge(
	(
		hover: (
			background-color: $cds-green-tag-hover,
			color: $label-success-hover-color,
		),
		focus: (
			color: $label-success-hover-color,
		),
	),
	$label-success-close
);

$label-success: () !default;
$label-success: map-deep-merge(
	(
		background-color: $label-success-bg,
		border-color: $label-success-border-color,
		color: $label-success-color,
		href: (
			color: $label-success-color,
			hover: (
				background-color: $label-success-hover-bg,
				border-color: $label-success-hover-border-color,
				color: $label-success-hover-color,
			),
			focus: (
				color: $label-success-hover-color,
			),
			disabled: (
				background-color: $cds-layer-01,
				color: $cds-text-disabled,
			),
		),
		link: (
			color: $label-success-link-color,
			hover: (
				color: $label-success-link-hover-color,
			),
		),
		close: $label-success-close,
	),
	$label-success
);

// @deprecated as of v2.4.1 use the Sass map `$label-info` instead

$label-info-color: $cds-cyan-tag-text !default;

// @deprecated as of v2.4.1 use the Sass map `$label-info` instead

$label-info-hover-color: c-unset !default;

// @deprecated as of v2.4.1 use the Sass map `$label-info` instead

$label-info-bg: $cds-cyan-tag-background !default;

// @deprecated as of v2.4.1 use the Sass map `$label-info` instead

$label-info-hover-bg: null !default;

// @deprecated as of v2.4.1 use the Sass map `$label-info` instead

$label-info-border-color: c-unset !default;

// @deprecated as of v2.4.1 use the Sass map `$label-info` instead

$label-info-hover-border-color: c-unset !default;

// @deprecated as of v2.4.1 use the Sass map `$label-info` instead

$label-info-link-color: null !default;

// @deprecated as of v2.4.1 use the Sass map `$label-info` instead

$label-info-link-hover-color: c-unset !default;

$label-info-close: () !default;
$label-info-close: map-deep-merge(
	(
		hover: (
			background-color: $cds-cyan-tag-hover,
			color: $label-info-hover-color,
		),
		focus: (
			color: $label-info-hover-color,
		),
	),
	$label-info-close
);

$label-info: () !default;
$label-info: map-deep-merge(
	(
		background-color: $label-info-bg,
		border-color: $label-info-border-color,
		color: $label-info-color,
		href: (
			color: $label-info-color,
			hover: (
				background-color: $label-info-hover-bg,
				border-color: $label-info-hover-border-color,
				color: $label-info-hover-color,
			),
			focus: (
				color: $label-info-hover-color,
			),
			disabled: (
				background-color: $cds-layer-01,
				color: $cds-text-disabled,
			),
		),
		link: (
			color: $label-info-link-color,
			hover: (
				color: $label-info-link-hover-color,
			),
		),
		close: $label-info-close,
	),
	$label-info
);

// @deprecated as of v2.4.1 use the Sass map `$label-warning` instead

$label-warning-color: $cds-red-tag-text !default;

// @deprecated as of v2.4.1 use the Sass map `$label-warning` instead

$label-warning-hover-color: c-unset !default;

// @deprecated as of v2.4.1 use the Sass map `$label-warning` instead

$label-warning-bg: $cds-red-tag-background !default;

// @deprecated as of v2.4.1 use the Sass map `$label-warning` instead

$label-warning-hover-bg: null !default;

// @deprecated as of v2.4.1 use the Sass map `$label-warning` instead

$label-warning-border-color: c-unset !default;

// @deprecated as of v2.4.1 use the Sass map `$label-warning` instead

$label-warning-hover-border-color: c-unset !default;

// @deprecated as of v2.4.1 use the Sass map `$label-warning` instead

$label-warning-link-color: null !default;

// @deprecated as of v2.4.1 use the Sass map `$label-warning` instead

$label-warning-link-hover-color: c-unset !default;

$label-warning-close: () !default;
$label-warning-close: map-deep-merge(
	(
		hover: (
			background-color: $cds-red-tag-hover,
			color: $label-warning-hover-color,
		),
		focus: (
			color: $label-warning-hover-color,
		),
	),
	$label-warning-close
);

$label-warning: () !default;
$label-warning: map-deep-merge(
	(
		background-color: $label-warning-bg,
		border-color: $label-warning-border-color,
		color: $label-warning-color,
		href: (
			color: $label-warning-color,
			hover: (
				background-color: $label-warning-hover-bg,
				border-color: $label-warning-hover-border-color,
				color: $label-warning-hover-color,
			),
			focus: (
				color: $label-warning-hover-color,
			),
			disabled: (
				background-color: $cds-layer-01,
				color: $cds-text-disabled,
			),
		),
		link: (
			color: $label-warning-link-color,
			hover: (
				color: $label-warning-link-hover-color,
			),
		),
		close: $label-warning-close,
	),
	$label-warning
);

// @deprecated as of v2.4.1 use the Sass map `$label-danger` instead

$label-danger-color: $cds-magenta-tag-text !default;

// @deprecated as of v2.4.1 use the Sass map `$label-danger` instead

$label-danger-hover-color: c-unset !default;

// @deprecated as of v2.4.1 use the Sass map `$label-danger` instead

$label-danger-bg: $cds-magenta-tag-background !default;

// @deprecated as of v2.4.1 use the Sass map `$label-danger` instead

$label-danger-hover-bg: null !default;

// @deprecated as of v2.4.1 use the Sass map `$label-danger` instead

$label-danger-border-color: c-unset !default;

// @deprecated as of v2.4.1 use the Sass map `$label-danger` instead

$label-danger-hover-border-color: c-unset !default;

// @deprecated as of v2.4.1 use the Sass map `$label-danger` instead

$label-danger-link-color: null !default;

// @deprecated as of v2.4.1 use the Sass map `$label-danger` instead

$label-danger-link-hover-color: c-unset !default;

$label-danger-close: () !default;
$label-danger-close: map-deep-merge(
	(
		hover: (
			background-color: $cds-magenta-tag-hover,
			color: $label-danger-hover-color,
		),
		focus: (
			color: $label-danger-hover-color,
		),
	),
	$label-danger-close
);

$label-danger: () !default;
$label-danger: map-deep-merge(
	(
		background-color: $label-danger-bg,
		border-color: $label-danger-border-color,
		color: $label-danger-color,
		href: (
			color: $label-danger-color,
			hover: (
				background-color: $label-danger-hover-bg,
				border-color: $label-danger-hover-border-color,
				color: $label-danger-hover-color,
			),
			focus: (
				color: $label-danger-hover-color,
			),
			disabled: (
				background-color: $cds-layer-01,
				color: $cds-text-disabled,
			),
		),
		link: (
			color: $label-danger-link-color,
			hover: (
				color: $label-danger-link-hover-color,
			),
		),
		close: $label-danger-close,
	),
	$label-danger
);

// @deprecated as of v2.4.1 use the Sass map `$label-light` instead

$label-light-color: $cds-text-primary !default;

// @deprecated as of v2.4.1 use the Sass map `$label-light` instead

$label-light-hover-color: c-unset !default;

// @deprecated as of v2.4.1 use the Sass map `$label-light` instead

$label-light-bg: $cds-background !default;

// @deprecated as of v2.4.1 use the Sass map `$label-light` instead

$label-light-hover-bg: null !default;

// @deprecated as of v2.4.1 use the Sass map `$label-light` instead

$label-light-border-color: c-unset !default;

// @deprecated as of v2.4.1 use the Sass map `$label-light` instead

$label-light-hover-border-color: c-unset !default;

// @deprecated as of v2.4.1 use the Sass map `$label-light` instead

$label-light-link-color: null !default;

// @deprecated as of v2.4.1 use the Sass map `$label-light` instead

$label-light-link-hover-color: c-unset !default;

$label-light-close: () !default;
$label-light-close: map-deep-merge(
	(
		hover: (
			background-color: $cds-background-inverse-hover,
			color: $label-light-hover-color,
		),
		focus: (
			box-shadow: inset 0 0 0 0.125rem $cds-focus-inverse,
			color: $label-light-hover-color,
		),
	),
	$label-light-close
);

$label-light: () !default;
$label-light: map-deep-merge(
	(
		background-color: $label-light-bg,
		border-color: $label-light-border-color,
		color: $label-light-color,
		href: (
			color: $label-light-color,
			hover: (
				background-color: $label-light-hover-bg,
				border-color: $label-light-hover-border-color,
				color: $label-light-hover-color,
			),
			focus: (
				color: $label-light-hover-color,
			),
			disabled: (
				background-color: $cds-layer-01,
				color: $cds-text-disabled,
			),
		),
		link: (
			color: $label-light-link-color,
			hover: (
				color: $label-light-link-hover-color,
			),
		),
		close: $label-light-close,
	),
	$label-light
);

// @deprecated as of v2.4.1 use the Sass map `$label-dark` instead

$label-dark-color: $cds-icon-inverse !default;

// @deprecated as of v2.4.1 use the Sass map `$label-dark` instead

$label-dark-hover-color: c-unset !default;

// @deprecated as of v2.4.1 use the Sass map `$label-dark` instead

$label-dark-bg: $cds-background-inverse !default;

// @deprecated as of v2.4.1 use the Sass map `$label-dark` instead

$label-dark-hover-bg: null !default;

// @deprecated as of v2.4.1 use the Sass map `$label-dark` instead

$label-dark-border-color: c-unset !default;

// @deprecated as of v2.4.1 use the Sass map `$label-dark` instead

$label-dark-hover-border-color: c-unset !default;

// @deprecated as of v2.4.1 use the Sass map `$label-dark` instead

$label-dark-link-color: null !default;

// @deprecated as of v2.4.1 use the Sass map `$label-dark` instead

$label-dark-link-hover-color: c-unset !default;

$label-dark-close: () !default;
$label-dark-close: map-deep-merge(
	(
		hover: (
			background-color: $cds-background-inverse-hover,
			color: $label-dark-hover-color,
		),
		focus: (
			color: $label-dark-hover-color,
		),
	),
	$label-dark-close
);

$label-dark: () !default;
$label-dark: map-deep-merge(
	(
		background-color: $label-dark-bg,
		border-color: $label-dark-border-color,
		color: $label-dark-color,
		href: (
			color: $label-dark-color,
			hover: (
				background-color: $label-dark-hover-bg,
				border-color: $label-dark-hover-border-color,
				color: $label-dark-hover-color,
			),
			focus: (
				color: $label-dark-hover-color,
			),
			disabled: (
				background-color: $cds-layer-01,
				color: $cds-text-disabled,
			),
		),
		link: (
			color: $label-dark-link-color,
			hover: (
				color: $label-dark-link-hover-color,
			),
		),
		close: $label-dark-close,
	),
	$label-dark
);

// Label Inverse

$label-inverse-primary: () !default;
$label-inverse-primary: map-deep-merge(
	(
		background-color: $cds-background,
		border-color: $cds-blue-tag-text,
		color: $cds-blue-tag-text,
		href: (
			color: $cds-blue-tag-text,
			hover: (
				background-color: null,
				border-color: null,
				color: c-unset,
			),
		),
		link: (
			hover: (
				color: null,
			),
		),
		close: (
			hover: (
				background-color: $cds-blue-tag-hover,
				color: null,
			),
		),
	),
	$label-inverse-primary
);

$label-inverse-secondary: () !default;
$label-inverse-secondary: map-deep-merge(
	(
		background-color: $cds-background,
		border-color: $cds-gray-tag-text,
		color: $cds-gray-tag-text,
		href: (
			color: $cds-gray-tag-text,
			hover: (
				background-color: null,
				border-color: null,
				color: c-unset,
			),
		),
		link: (
			hover: (
				color: null,
			),
		),
		close: (
			hover: (
				background-color: $cds-gray-tag-hover,
				color: null,
			),
		),
	),
	$label-inverse-secondary
);

$label-inverse-success: () !default;
$label-inverse-success: map-deep-merge(
	(
		background-color: $cds-background,
		border-color: $cds-green-tag-text,
		color: $cds-green-tag-text,
		href: (
			color: $cds-green-tag-text,
			hover: (
				background-color: null,
				border-color: null,
				color: c-unset,
			),
		),
		link: (
			color: $cds-green-tag-text,
			hover: (
				color: null,
			),
		),
		close: (
			hover: (
				background-color: $cds-green-tag-hover,
				color: null,
			),
		),
	),
	$label-inverse-success
);

$label-inverse-info: () !default;
$label-inverse-info: map-deep-merge(
	(
		background-color: $cds-background,
		border-color: $cds-cyan-tag-text,
		color: $cds-cyan-tag-text,
		href: (
			color: $cds-cyan-tag-text,
			hover: (
				background-color: null,
				border-color: null,
				color: c-unset,
			),
		),
		link: (
			color: $cds-cyan-tag-text,
			hover: (
				color: null,
			),
		),
		close: (
			hover: (
				background-color: $cds-cyan-tag-hover,
				color: null,
			),
		),
	),
	$label-inverse-info
);

$label-inverse-warning: () !default;
$label-inverse-warning: map-deep-merge(
	(
		background-color: $cds-background,
		border-color: $cds-red-tag-text,
		color: $cds-red-tag-text,
		href: (
			color: $cds-red-tag-text,
			hover: (
				background-color: c-unset,
				border-color: c-unset,
				color: c-unset,
			),
		),
		link: (
			color: $cds-red-tag-text,
			hover: (
				color: c-unset,
			),
		),
		close: (
			hover: (
				background-color: $cds-red-tag-hover,
				color: c-unset,
			),
		),
	),
	$label-inverse-warning
);

$label-inverse-danger: () !default;
$label-inverse-danger: map-deep-merge(
	(
		background-color: $cds-background,
		border-color: $cds-magenta-tag-text,
		color: $cds-magenta-tag-text,
		href: (
			color: $cds-magenta-tag-text,
			hover: (
				background-color: c-unset,
				border-color: c-unset,
				color: c-unset,
			),
		),
		link: (
			color: $cds-magenta-tag-text,
			hover: (
				color: c-unset,
			),
		),
		close: (
			hover: (
				background-color: $cds-magenta-tag-hover,
				color: c-unset,
			),
		),
	),
	$label-inverse-danger
);

$label-inverse-light: () !default;
$label-inverse-light: map-deep-merge(
	(
		background-color: transparent,
		border-color: $cds-background,
		color: $cds-background,
		href: (
			color: $cds-background,
			hover: (
				background-color: c-unset,
				border-color: c-unset,
				color: c-unset,
			),
		),
		link: (
			color: $cds-background,
			hover: (
				color: c-unset,
			),
		),
		close: (
			hover: (
				background-color: $cds-background-hover,
				color: c-unset,
			),
		),
	),
	$label-inverse-light
);

$label-inverse-dark: () !default;

$label-palette: () !default;
$label-palette: map-deep-merge(
	(
		primary: $label-primary,
		secondary: $label-secondary,
		success: $label-success,
		info: $label-info,
		warning: $label-warning,
		danger: $label-danger,
		dark: $label-dark,
		light: $label-light,
		'teal': (
			background-color: $cds-teal-tag-background,
			color: $cds-teal-tag-text,
			href: (
				color: $cds-teal-tag-text,
				disabled: (
					background-color: $cds-layer-01,
					color: $cds-text-disabled,
				),
			),
			link: (
				color: $cds-teal-tag-text,
			),
			close: (
				hover: (
					background-color: $cds-teal-tag-hover,
				),
			),
		),
		'magenta': (
			background-color: $cds-magenta-tag-background,
			color: $cds-magenta-tag-text,
			href: (
				color: $cds-magenta-tag-text,
				disabled: (
					background-color: $cds-layer-01,
					color: $cds-text-disabled,
				),
			),
			link: (
				color: $cds-magenta-tag-text,
			),
			close: (
				hover: (
					background-color: $cds-magenta-tag-hover,
				),
			),
		),
		'purple': (
			background-color: $cds-purple-tag-background,
			color: $cds-purple-tag-text,
			href: (
				color: $cds-purple-tag-text,
				disabled: (
					background-color: $cds-layer-01,
					color: $cds-text-disabled,
				),
			),
			link: (
				color: $cds-purple-tag-text,
			),
			close: (
				hover: (
					background-color: $cds-purple-tag-hover,
				),
			),
		),
		inverse-primary: $label-inverse-primary,
		inverse-secondary: $label-inverse-secondary,
		inverse-success: $label-inverse-success,
		inverse-info: $label-inverse-info,
		inverse-warning: $label-inverse-warning,
		inverse-danger: $label-inverse-danger,
		inverse-light: $label-inverse-light,
		inverse-dark: $label-inverse-dark,
	),
	$label-palette
);
