$pagination-bg: transparent !default;
$pagination-border-color: $pagination-bg !default;
$pagination-border-width: 0.0625rem !default; // 1px
$pagination-color: $cds-text-primary !default;
$pagination-font-size: 0.875rem !default; // 14px
$pagination-line-height: 1.125rem !default;
$pagination-padding-x: 0.25rem !default;
$pagination-padding-y: 0 !default;

$pagination-hover-bg: $cds-background-hover !default;
$pagination-hover-border-color: transparent !default;
$pagination-hover-color: $cds-text-primary !default;

$pagination-focus-box-shadow: $component-focus-inset-box-shadow !default;
$pagination-focus-outline: 0 !default;

$pagination-active-bg: transparent !default;
$pagination-active-border-color: transparent !default;
$pagination-active-color: $cds-text-primary !default;

$pagination-disabled-bg: transparent !default;
$pagination-disabled-border-color: transparent !default;
$pagination-disabled-color: $cds-icon-disabled !default;

// Pagination Item

$pagination-item-height: 2.5rem !default;

/// @deprecated as of v2 use the Sass map `$pagination-item` instead

$pagination-item-margin-x: c-unset !default; // 4px

/// @deprecated as of v2 use the Sass map `$pagination-item` instead

$pagination-item-margin-y: null !default;

$pagination-item: () !default;
$pagination-item: map-deep-merge(
	(
		margin-bottom: $pagination-item-margin-y,
		margin-left: $pagination-item-margin-x,
		margin-right: $pagination-item-margin-x,
		margin-top: $pagination-item-margin-y,
	),
	$pagination-item
);

// Pagination Link

/// @deprecated as of v2 use the Sass map `$pagination-link` instead

$pagination-link-border-radius: $border-radius !default;

/// @deprecated as of v2 use the Sass map `$pagination-link` instead

$pagination-link-cursor: pointer !default;

/// @deprecated as of v2 use the Sass map `$pagination-link` instead

$pagination-link-transition: box-shadow 0.15s ease-in-out !default;

$pagination-link-first-border-radius: $pagination-link-border-radius !default;
$pagination-link-last-border-radius: $pagination-link-border-radius !default;

$pagination-margin-bottom: 0 !default;

$pagination-margin-top-mobile: 0.5rem !default;

/// @deprecated as of v2 use the Sass map `$pagination-link-disabled` instead

$pagination-disabled-cursor: $disabled-cursor !default;

/// @deprecated as of v2 use the Sass map `$pagination-link-disabled` instead

$pagination-disabled-opacity: c-unset !default;

/// @deprecated as of v2 use the Sass map `$pagination-link-disabled` instead

$pagination-disabled-pointer-events: auto !default;

// .page-link

$pagination-link-hover: () !default;
$pagination-link-hover: map-deep-merge(
	(
		background-color: $pagination-hover-bg,
		border-color: $pagination-hover-border-color,
		box-shadow: c-unset,
		color: $pagination-hover-color,
		letter-spacing: c-unset,
		text-decoration: none,
		z-index: 2,
	),
	$pagination-link-hover
);

$pagination-link-focus: () !default;
$pagination-link-focus: map-deep-merge(
	(
		background-color: $pagination-hover-bg,
		border-color: $pagination-hover-border-color,
		box-shadow: $pagination-focus-box-shadow,
		color: $pagination-hover-color,
		outline: $pagination-focus-outline,
		z-index: $zindex-pagination-link-focus,
		after: (),
	),
	$pagination-link-focus
);

$pagination-link-active: () !default;
$pagination-link-active: map-deep-merge(
	(
		background-color: $pagination-active-bg,
		border-color: $pagination-active-border-color,
		box-shadow: c-unset,
		color: $pagination-active-color,
		cursor: default,
		letter-spacing: c-unset,
		z-index: $zindex-pagination-link-active,
		before: (
			background-color: $cds-border-interactive,
			bottom: 0,
			content: '',
			display: block,
			height: 4px,
			position: absolute,
			width: 16px,
		),
	),
	$pagination-link-active
);

$pagination-link-disabled: () !default;
$pagination-link-disabled: map-deep-merge(
	(
		background-color: $pagination-disabled-bg,
		border-color: $pagination-disabled-border-color,
		box-shadow: none,
		color: $pagination-disabled-color,
		cursor: $pagination-disabled-cursor,
		opacity: $pagination-disabled-opacity,
		pointer-events: $pagination-disabled-pointer-events,
		z-index: $zindex-pagination-link-disabled,
		active: (
			pointer-events: none,
		),
		focus: (),
	),
	$pagination-link-disabled
);

$pagination-link: () !default;
$pagination-link: map-deep-merge(
	(
		align-items: center,
		background-color: $pagination-bg,
		border-radius: $pagination-link-border-radius,
		border-color: $pagination-border-color,
		border-style: solid,
		border-width: $pagination-border-width,
		color: $pagination-color,
		cursor: $pagination-link-cursor,
		display: inline-flex,
		height: $pagination-item-height,
		justify-content: center,
		letter-spacing: c-unset,
		line-height: $pagination-line-height,
		margin-left: 0,
		min-width: $pagination-item-height,
		padding-bottom: $pagination-padding-y,
		padding-left: $pagination-padding-x,
		padding-right: $pagination-padding-x,
		padding-top: $pagination-padding-y,
		position: relative,
		transition: $pagination-link-transition,
		visited: (
			color: $pagination-color,
		),
		hover: $pagination-link-hover,
		focus: $pagination-link-focus,
		active: $pagination-link-active,
		active-class: (),
		disabled: $pagination-link-disabled,
		show: (),
		lexicon-icon: (
			margin-top: 0,
		),
	),
	$pagination-link
);

// .page-link-first

$pagination-link-first: () !default;
$pagination-link-first: map-deep-merge(
	(
		border-radius: clay-enable-rounded($pagination-link-first-border-radius),
	),
	$pagination-link-first
);

// .page-link-last

$pagination-link-last: () !default;
$pagination-link-last: map-deep-merge(
	(
		border-radius: clay-enable-rounded($pagination-link-last-border-radius),
	),
	$pagination-link-last
);

// .pagination

$pagination: () !default;
$pagination: map-deep-merge(
	(
		border-radius: clay-enable-rounded($border-radius),
		display: flex,
		flex-wrap: wrap,
		font-size: $pagination-font-size,
		list-style: none,
		margin-bottom: $pagination-margin-bottom,
		padding-left: 0,
		page-link-first: (
			background-image: clay-icon(caret-left, $cds-icon-primary),
			background-position: center,
			background-repeat: no-repeat,
			background-size: 0.875rem 0.875rem,
			color: transparent,
		),
		page-link-last: (
			background-image: clay-icon(caret-right, $cds-icon-primary),
			background-position: center,
			background-repeat: no-repeat,
			background-size: 0.875rem 0.875rem,
			color: transparent,
		),
		page-link: (
			active-class: (
				after: (
					background-color: $cds-border-interactive,
					bottom: 0,
					content: '',
					display: block,
					height: 0.25rem,
					left: auto,
					position: absolute,
					right: auto,
					width: 1.125rem,
				),
			),
		),
	),
	$pagination
);

// .pagination-bar

$pagination-bar: () !default;
$pagination-bar: map-deep-merge(
	(
		align-items: center,
		background-color: $cds-layer-01,
		border-top: 1px solid $cds-border-subtle-01,
		display: flex,
		flex-wrap: wrap,
		pagination: (
			border-left: 1px solid $cds-border-subtle-01,
			page-link: (
				active-class: (
					after: (
						content: none,
					),
				),
			),
		),
		media-breakpoint-down: (
			sm: (
				flex-direction: column,
				justify-content: center,
				pagination: (
					border-left: 0,
					margin-top: $pagination-margin-top-mobile,
				),
				pagination-items-per-page: (
					pagination-results: (
						border-left: 0,
					),
				),
			),
		),
	),
	$pagination-bar
);

// Pagination Dropdown Menu

$pagination-dropdown-menu-spacer-y: 0.625rem !default; // 10px

// Pagination Items Per Page

/// @deprecated as of v2 use the Sass map `$pagination-items-per-page-link` instead

$pagination-items-per-page-bg: null !default;

/// @deprecated as of v2 use the Sass map `$pagination-items-per-page-link` instead

$pagination-items-per-page-border-color: $pagination-border-color !default;

/// @deprecated as of v2 use the Sass map `$pagination-items-per-page-link` instead

$pagination-items-per-page-border-radius: $border-radius !default;

/// @deprecated as of v2 use the Sass map `$pagination-items-per-page-link` instead

$pagination-items-per-page-color: $pagination-color !default;
$pagination-items-per-page-font-size: $pagination-font-size !default;

/// @deprecated as of v2 use the Sass map `$pagination-items-per-page-link` instead

$pagination-items-per-page-transition: $pagination-link-transition !default;

/// @deprecated as of v2 use the Sass map `$pagination-items-per-page-link-hover` instead

$pagination-items-per-page-hover-bg: $pagination-hover-bg !default;

/// @deprecated as of v2 use the Sass map `$pagination-items-per-page-link-hover` instead

$pagination-items-per-page-hover-border-color: $pagination-hover-border-color !default;

/// @deprecated as of v2 use the Sass map `$pagination-items-per-page-link-hover` instead

$pagination-items-per-page-hover-color: $pagination-hover-color !default;

/// @deprecated as of v2 use the Sass map `$pagination-items-per-page-link-focus` instead

$pagination-items-per-page-focus-box-shadow: $pagination-focus-box-shadow !default;

/// @deprecated as of v2 use the Sass map `$pagination-items-per-page-link-focus` instead

$pagination-items-per-page-focus-outline: 0 !default;

/// @deprecated as of v2 use the Sass map `$pagination-items-per-page-link` instead

$pagination-items-per-page-lexicon-icon-margin-left: 0.25rem !default;

/// @deprecated as of v2 use the Sass map `$pagination-items-per-page-link` instead

$pagination-items-per-page-lexicon-icon-margin-top: 0.125rem !default; // 2px

// Pagination Items Per Page Link

$pagination-items-per-page-link-hover: () !default;
$pagination-items-per-page-link-hover: map-deep-merge(
	(
		background-color: $pagination-items-per-page-hover-bg,
		border-color: $pagination-items-per-page-hover-border-color,
		color: $pagination-items-per-page-hover-color,
		font-weight: $font-weight-normal,
	),
	$pagination-items-per-page-link-hover
);

$pagination-items-per-page-link-focus: () !default;
$pagination-items-per-page-link-focus: map-deep-merge(
	(
		background-color: map-get($pagination-link-focus, background-color),
		border-color: map-get($pagination-link-focus, border-color),
		box-shadow: $pagination-items-per-page-focus-box-shadow,
		color: map-get($pagination-link-focus, color),
		outline: $pagination-items-per-page-focus-outline,
	),
	$pagination-items-per-page-link-focus
);

$pagination-items-per-page-link-active: () !default;
$pagination-items-per-page-link-active: map-deep-merge(
	(
		background-color: $pagination-active-bg,
		border-color: $pagination-active-border-color,
		color: $pagination-active-color,
	),
	$pagination-items-per-page-link-active
);

$pagination-items-per-page-link-disabled: () !default;
$pagination-items-per-page-link-disabled: map-deep-merge(
	(
		background-color: $pagination-disabled-bg,
		border-color: $pagination-disabled-border-color,
		box-shadow: none,
		color: $pagination-disabled-color,
		cursor: $pagination-disabled-cursor,
		opacity: $pagination-disabled-opacity,
		pointer-events: $pagination-disabled-pointer-events,
	),
	$pagination-items-per-page-link-disabled
);

// .pagination-items-per-page > a, .pagination-items-per-page > button

$pagination-items-per-page-link: () !default;
$pagination-items-per-page-link: map-deep-merge(
	(
		align-items: center,
		background-color: $pagination-items-per-page-bg,
		border-color: $pagination-items-per-page-border-color,
		border-radius: $pagination-items-per-page-border-radius,
		border-style: solid,
		border-width: $pagination-border-width,
		color: $pagination-items-per-page-color,
		display: inline-flex,
		height: $pagination-item-height,
		justify-content: center,
		letter-spacing: c-unset,
		line-height: $pagination-line-height,
		padding-bottom: $pagination-padding-y,
		padding-left: 0.625rem,
		padding-right: 0.625rem,
		padding-top: $pagination-padding-y,
		text-decoration: none,
		transition: $pagination-items-per-page-transition,
		hover: $pagination-items-per-page-link-hover,
		focus: $pagination-items-per-page-link-focus,
		active: $pagination-items-per-page-link-active,
		disabled: $pagination-items-per-page-link-disabled,
		lexicon-icon: (
			background-image: clay-icon(angle-down, $cds-icon-primary),
			background-position: center,
			background-repeat: no-repeat,
			background-size: 0.75rem 0.75rem,
			color: transparent,
			height: 1rem,
			margin-left: $pagination-items-per-page-lexicon-icon-margin-left,
			margin-top: $pagination-items-per-page-lexicon-icon-margin-top,
			width: 1rem,
		),
	),
	$pagination-items-per-page-link
);

// .pagination-items-per-page

$pagination-items-per-page: () !default;
$pagination-items-per-page: map-deep-merge(
	(
		font-size: $pagination-items-per-page-font-size,
		margin-bottom: $pagination-margin-bottom,
		link: $pagination-items-per-page-link,
		media-breakpoint-down: (
			sm: (
				pagination-results: (
					margin-left: auto,
				),
			),
		),
	),
	$pagination-items-per-page
);

// .pagination-results

$pagination-results-color: $pagination-color !default;

$pagination-results: () !default;
$pagination-results: map-merge(
	(
		border-color: $cds-border-subtle-01,
		border-style: solid,
		border-width: 0 0 0 1px,
		color: $pagination-results-color,
		font-size: $pagination-font-size,
		line-height: $pagination-line-height,
		margin-bottom: $pagination-margin-bottom,
		margin-right: auto,
		max-width: 100%,
		padding: 0.625rem,
		word-wrap: break-word,
	),
	$pagination-results
);

// .pagination-sm

$pagination-font-size-sm: c-unset !default; // 12px
$pagination-line-height-sm: c-unset !default;
$pagination-padding-x-sm: c-unset !default;
$pagination-padding-y-sm: 0 !default;

$pagination-item-height-sm: 2rem !default; // 24px

$pagination-link-border-radius-sm: $border-radius-sm !default;

$pagination-items-per-page-lexicon-icon-margin-left-sm: null !default;
$pagination-items-per-page-lexicon-icon-margin-top-sm: null !default;

$pagination-sm: () !default;
$pagination-sm: map-deep-merge(
	(
		page-link: (
			font-size: $pagination-font-size-sm,
			height: $pagination-item-height-sm,
			line-height: $pagination-line-height-sm,
			min-width: $pagination-item-height-sm,
			padding-bottom: $pagination-padding-y-sm,
			padding-right: $pagination-padding-x-sm,
			padding-left: $pagination-padding-x-sm,
			padding-top: $pagination-padding-y-sm,
			active: (
				after: (
					width: 1rem,
				),
			),
		),
		page-link-first: (
			border-bottom-left-radius: $pagination-link-border-radius-sm,
			border-top-left-radius: $pagination-link-border-radius-sm,
		),
		page-link-last: (
			border-bottom-right-radius: $pagination-link-border-radius-sm,
			border-top-right-radius: $pagination-link-border-radius-sm,
		),
		pagination-items-per-page: (
			border-radius:
				clay-enable-rounded($pagination-link-border-radius-sm),
			padding: 0 0.625rem,
			link: (
				font-size: $pagination-font-size-sm,
				height: $pagination-item-height-sm,
				line-height: $pagination-line-height-sm,
				padding-bottom: $pagination-padding-y-sm,
				padding-left: $pagination-padding-x,
				padding-right: $pagination-padding-x,
				padding-top: $pagination-padding-y-sm,
			),
			lexicon-icon: (
				margin-left:
					$pagination-items-per-page-lexicon-icon-margin-left-sm,
				margin-right:
					$pagination-items-per-page-lexicon-icon-margin-top-sm,
			),
			pagination-results: (
				font-size: $pagination-font-size-sm,
				line-height: $pagination-line-height-sm,
				padding: 0.375rem 0.625rem,
			),
		),
	),
	$pagination-sm
);

// .pagination-lg

$pagination-font-size-lg: c-unset !default; // 18px
$pagination-line-height-lg: c-unset !default;
$pagination-padding-x-lg: c-unset !default;
$pagination-padding-y-lg: 0 !default;

$pagination-item-height-lg: 3rem !default;

$pagination-link-border-radius-lg: $border-radius-lg !default; // 5px

$pagination-items-per-page-lexicon-icon-margin-left-lg: null !default;
$pagination-items-per-page-lexicon-icon-margin-top-lg: null !default;

$pagination-lg: () !default;
$pagination-lg: map-deep-merge(
	(
		page-link: (
			font-size: $pagination-font-size-lg,
			height: $pagination-item-height-lg,
			line-height: $pagination-line-height-lg,
			min-width: $pagination-item-height-lg,
			padding-bottom: $pagination-padding-y-lg,
			padding-left: $pagination-padding-x-lg,
			padding-right: $pagination-padding-x-lg,
			padding-top: $pagination-padding-y-lg,
		),
		page-link-first: (
			border-bottom-left-radius: $pagination-link-border-radius-lg,
			border-top-left-radius: $pagination-link-border-radius-lg,
		),
		page-link-last: (
			border-bottom-right-radius: $pagination-link-border-radius-lg,
			border-top-right-radius: $pagination-link-border-radius-lg,
		),
		pagination-items-per-page: (
			border-radius:
				clay-enable-rounded($pagination-link-border-radius-lg),
			padding: 0 0.625rem,
			link: (
				font-size: $pagination-font-size-lg,
				height: $pagination-item-height-lg,
				line-height: $pagination-line-height-lg,
				padding: $pagination-padding-y-lg $pagination-padding-x,
			),
			lexicon-icon: (
				margin-left:
					$pagination-items-per-page-lexicon-icon-margin-left-lg,
				margin-right:
					$pagination-items-per-page-lexicon-icon-margin-top-lg,
			),
			pagination-results: (
				font-size: $pagination-font-size-lg,
				line-height: $pagination-line-height-lg,
				padding: 0.875rem 0.625rem,
			),
		),
	),
	$pagination-lg
);
