// ---------- Portlet topper ----------

$portlet-topper-bg: $cds-layer-01 !default;
$portlet-topper-border: $cds-border-subtle-01 !default;
$portlet-topper-color: $cds-text-primary !default;
$portlet-topper-link-color: $cds-text-primary !default;
$portlet-topper-link-hover-color: $cds-text-primary !default;

$portlet-topper-border-radius: $border-radius $border-radius 0 0 !default;

$portlet-topper-border-bottom-width: 1px !default;
$portlet-topper-border-left-width: 1px !default;
$portlet-topper-border-right-width: 1px !default;
$portlet-topper-border-top-width: 1px !default;
$portlet-topper-border-width: $portlet-topper-border-top-width
	$portlet-topper-border-right-width $portlet-topper-border-bottom-width
	$portlet-topper-border-left-width !default;

$portlet-content-border-radius: 0 0 $border-radius $border-radius !default;

$portlet-content-border-bottom-width: 1px !default;
$portlet-content-border-left-width: 1px !default;
$portlet-content-border-right-width: 1px !default;
$portlet-content-border-top-width: 1px !default;
$portlet-content-border-width: $portlet-content-border-top-width
	$portlet-content-border-right-width $portlet-content-border-bottom-width
	$portlet-content-border-left-width !default;

// ---------- Portlet decorator ----------

$portlet-borderless-padding: map-get($spacers, 3) !default;

$portlet-decorate-bg: $body-bg !default;
$portlet-decorate-border-color: transparent !default;
$portlet-decorate-border-style: solid !default;
$portlet-decorate-border-width: $portlet-content-border-width !default;
$portlet-decorate-padding: map-get($spacers, 3) !default;

// ---------- Portlet header ----------

$portlet-header-margin-bottom: map-get($spacers, 3) !default;
